/* Basic Styling */
body {
    font-family: Arial, sans-serif;
    background: #000000;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Container Styling */
.container {
    background-color: #ffffff;
    border-radius: 50px;
    padding: 20px;
    text-align: center;
    max-width: 400px;
    width: 100%;
    height: 600px;
}

.email{
    position: relative;
    bottom: 19px;
    right: 120px;
    font-size: medium;
}

.name{
    position: relative;
    bottom: 19px;
    right: 106px;
    font-size: medium;
}

.password{
    position: relative;
    bottom: 19px;
    right: 90px;
    font-size: medium;
}

.retype-password{
    position: relative;
    bottom: 19px;
    right: 80px;
    font-size: medium;
}

#retype-password[type="retype-password"],
#password[type="password"],
#name[type="name"],
#email[type="email"] {
    position: relative;
    bottom: 40px;
    right: 12px; /* Adjust position */
    width: 90%; /* Make input fields full-width */
    padding: 10px; /* Add padding inside input fields */
    margin: 10px 0; /* Add margin above and below */
    border-radius: 20px; /* Make input corners rounded */
    border: 1px solid #ccc; /* Light gray border */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6); /* Add shadow effect */
}


/* Title Styling */
.container h1 {
    color: beige;
    font-size: 28px;
    position: relative;
    bottom: 75px;
    right: 90px;
}

/* Grid Layout */
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;   
}

/* Grid Items */
.grid-item {
    background-color: #e9e9e9;
    border-radius: 30px;
    padding: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: relative;
    left: 36px;
    width: 300px;
    top: 30px;
    height: 400px;
}

/* Health and Power Styling */
.grid-item p {
    font-size: 16px;
    color: #555;
}

/* Button Styling */
button {
    width: 380px;
    background-color: #1dc922;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
    position: relative;
    top: 20px;
    right: 50px;
    transition: background-color 0.3s ease;
    box-shadow: 0 4px 8px rgba(26, 24, 24, 0.6);
    transition: background-color 0.3s ease, transform 0.3s ease;
}

button:hover {
    background-color: #45a049;
    transform: scale(1.1);
}







